*.pyc
*.egg-info

# temporary files created by VIM
*.swp
*.swo

# temporary files created by git/patch
*.orig

.coverage
nosetests.xml
tests/.noseids

.venv/
local/
build/
dist/
docs/_build/
.idea
.DS_Store

# tox
.tox

# VS Code
.vscode/
.idea/
