default_language_version:
    python: python3
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v2.2.3
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: fix-encoding-pragma
            exclude: ^arrow/_version.py
          - id: check-yaml
          - id: debug-statements
          - id: requirements-txt-fixer
    - repo: https://github.com/asottile/seed-isort-config
      rev: v1.9.1
      hooks:
          - id: seed-isort-config
    - repo: https://github.com/pre-commit/mirrors-isort
      rev: v4.3.21
      hooks:
          - id: isort
    - repo: https://github.com/asottile/pyupgrade
      rev: v1.20.1
      hooks:
          - id: pyupgrade
    - repo: https://github.com/pre-commit/pygrep-hooks
      rev: v1.4.0
      hooks:
          - id: python-no-eval
          - id: rst-backticks
    - repo: https://github.com/python/black
      rev: 19.3b0
      hooks:
          - id: black
            args: [--safe, --quiet]
    - repo: https://gitlab.com/pycqa/flake8
      rev: 3.7.8
      hooks:
          - id: flake8
            additional_dependencies: [flake8-bugbear]
