language: python
dist: xenial
matrix:
    include:
        - python: 2.7
          env: TOXENV=py27
        - python: 3.5
          env: TOXENV=py35
        - python: 3.6
          env: TOXENV=py36
        - python: 3.7
          env: TOXENV=py37
        - python: 3.8-dev
          env: TOXENV=py38
        - name: "Linting"
          python: 3.7
          env: TOXENV=lint
          cache:
              directories:
                  - $HOME/.cache/pre-commit
    allow_failures:
        - python: 3.8-dev
install: pip install -U codecov tox
script: tox --recreate
after_success: codecov
