language: python
dist: bionic
matrix:
  include:
    - name: "Python 2.7"
      python: "2.7"
      env: TOXENV=py27
      before_install: pip install --upgrade pip
      install: pip install -U codecov tox
    - name: "Python 3.5"
      dist: xenial
      python: "3.5"
      env: TOXENV=py35
    - name: "Python 3.6"
      python: "3.6"
      env: TOXENV=py36
    - name: "Python 3.7"
      python: "3.7"
      env: TOXENV=py37
    - name: "Python 3.7 on macOS"
      os: osx
      osx_image: xcode11
      language: shell # 'language: python' is an error on Travis CI macOS
      env: TOXENV=py37
    - name: "Python 3.7 on Windows"
      os: windows
      language: shell # 'language: python' is an error on Travis CI Windows
      before_install:
        - choco install python --version 3.7.7
        - python -m pip install --upgrade pip
      env:
        - PATH=/c/Python37:/c/Python37/Scripts:$PATH
        - TOXENV=py37
    - name: "Python 3.8"
      python: "3.8"
      env: TOXENV=py38
    - name: "Python 3.9"
      python: "3.9-dev"
      env: TOXENV=py39
    - name: "Linting"
      python: "3.7"
      env: TOXENV=lint,docs
before_install: pip3 install --upgrade pip
install: pip3 install -U codecov tox
script: tox
after_success: codecov
