sudo: false
language: python
dist: xenial
python:
    - 2.7
    - 3.5
    - 3.6
    - 3.7
install:
    - if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then make build27; fi
    - if [[ $TRAVIS_PYTHON_VERSION == '3.5' ]]; then make build35; fi
    - if [[ $TRAVIS_PYTHON_VERSION == '3.6' ]]; then make build36; fi
    - if [[ $TRAVIS_PYTHON_VERSION == '3.7' ]]; then make build37; fi
    - pip install codecov
script: make test
after_success: codecov
