sudo: false
language: python
python:
  - 2.6
  - 2.7
  - 3.3
  - 3.4
  - 3.5
install:
    - if [[ $TRAVIS_PYTHON_VERSION == '2.6' ]]; then make build26; fi
    - if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then make build27; fi
    - if [[ $TRAVIS_PYTHON_VERSION == '3.3' ]]; then make build33; fi
    - if [[ $TRAVIS_PYTHON_VERSION == '3.4' ]]; then make build34; fi
    - if [[ $TRAVIS_PYTHON_VERSION == '3.5' ]]; then make build35; fi
    - pip install codecov
script: make test
after_success: codecov
