language: python
dist: bionic
matrix:
    include:
        - name: "Python 2.7"
          python: "2.7"
          env: TOXENV=py27
        - name: "Python 3.5"
          dist: xenial
          python: "3.5"
          env: TOXENV=py35
        - name: "Python 3.6"
          python: "3.6"
          env: TOXENV=py36
        - name: "Python 3.7"
          python: "3.7"
          env: TOXENV=py37
        - name: "Python 3.7 on Windows"
          os: windows
          language: shell # 'language: python' is an error on Travis CI Windows
          before_install:
            - choco install python --version 3.7
            - python -m pip install --upgrade pip
          env:
            - PATH=/c/Python37:/c/Python37/Scripts:$PATH
            - TOXENV=py37
        - name: "Python 3.8"
          python: "3.8-dev"
          env: TOXENV=py38
        - name: "Linting"
          python: "3.7"
          env: TOXENV=lint,docs
          cache:
              directories:
                  - $HOME/.cache/pre-commit
install: pip install -U codecov tox
script: tox
after_success: codecov
