dateparser==1.*
pre-commit==2.*
pytest==6.*
pytest-cov==3.*
pytest-mock==3.*
python-dateutil>=2.7.0
pytz==2021.1
simplejson==3.*
sphinx==4.*
sphinx-autodoc-typehints==1.*
typing_extensions; python_version < '3.8'
